.skills{
    font-family: 'Barlow', sans-serif;
}

.skills__name{
    text-align: center;
}

.skills-container, .skills-tabs{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;margin: 0 auto;
}

.skills-container{
    margin-top: 18px;
}

.skills-tabs{
    width: 225px;
}

.tabs-item__item{
    cursor: pointer;
}

.tabs-item__item_active{
    border-bottom: 2px black solid;
}
