.myWorks{
    font-family: 'Barlow', sans-serif;
}

.myWorks-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.myWorks__name{
    text-align: center;
}